<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="intro_login">
        <div class="container">
            <div class="section_header">
            <h2 class="section_title">Login</h2>
        </div>
            <form action="/checking" method="post" >
                <div class="input_val">
                    <input type="email" name="email" class="input_reg" placeholder="email"
                           aria-label="email" aria-describedby="search-addon"/>
                    <br/>
                    <input type="password" name="password" class="input_reg" placeholder="password"
                           aria-label="password" aria-describedby="search-addon"/>
                    <br/>
                    <button type="submit" class="button_reg">Login</button>
                    <br/>
                    <a href="registration"><button type="button" class="button_reg">Registration</button></a>
                    <br/>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
